<%- include ("./partials/header")%>
<h1>Edit Item</h1>


<form action="/<%=todo._id%>?_method=PATCH" method="POST">
    <input type="text" name="add" value="<%=todo.todo%>">
    <input type="submit">
</form>

<%- include ("./partials/footer")%>